<div class="login-page">
   <h1>{{title}} <a href="/deafAF" style="text-decoration: none;">🤟</a></h1>
   <form class="login-form" action="/login" method="POST">
      <div>
         <label for="input-username">Username</label>
         <input type="username" id="input-username" name="username" placeholder="Your Username" />
      </div>

      <div>
         <label for="input-password">Password</label>
         <input type="password" id="input-password" name="password" placeholder="********" />
      </div>

      <button type="Submit">Login</button>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
   </form>
   <a href="/signup">Not a user yet? Sign Up</a>
</div>