<div class="deck-index">
  <h1>Training Decks</h1>

  {{#each this}}
  {{#if this.name}}
  <div class="deck-container">
    {{!-- <a href="/decks/{{this.id}}/expressive">Expressive</a> --}}
    <a class="train-link" href="/decks/{{this.id}}/receptive">
      <div class="train-button">
        <p>{{this.name}}</p>
      </div>
    </a>
    <a href="/decks/{{this.id}}">
      <div class="edit-button">
        <p>Edit</p>
      </div>
    </a>
  </div>
  {{/if}}
  {{/each}}

  <form class="new-deck-form" action="/decks/new" method="POST">
    <input type="text" name="name">
    <button>Add</button>
  </form>
</div>

