<a href="/flashcards">
  <h1>Back</h1>
</a>

<h1>{{errorMessage}}</h1>

<form action="/flashcard/new" method="POST">
  <div>
    <label>Name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Gif URL:</label>
    <input type="text" name="gifURL">
  </div>
  <div>
    <label>Category: </label>
    <input type="radio" id="colors" name="category" value="colors" checked>
    <label for="colors">Colors</label>
    <input type="radio" id="common_phrases" name="category" value="common phrases">
    <label for="common_phrases">Common Phrases</label>
  </div>
  <button>Create</button>
</form>