#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.profile-header {
  text-align: center;
  padding: 5px;
  text-shadow: 2px 2px white;
}

#profile-background {
  background-color: aqua;
  padding: 3vh;
}

#profile-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #333;
}

.profile-link {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.profile-link:hover {
  background-color: #333;
  color: white;
}
